<a href="https://colab.research.google.com/github/arturmpaiva/Estudos-Programacao-Java/blob/main/Aula02_Tipos_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Meu primeiro notebook")

Meu primeiro notebook

In [ ]:
nome = "Artur"
print(nome)

artur

In [ ]:
#Descobrir tipo de variÃ¡vel
type(nome)

str

In [ ]:
a = 100
b = 25.6
c = a > b
d = "chimpanze"

In [ ]:
print(c)

True

In [ ]:
a = 100 < 200
b = 85 == 6
c = "pablo" == 'Pablo'
d = 25 == '25'
e = 30 == (6 * 5)
f = 'chocolate' != 'agua'

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

True
False
False
False
True
True

In [ ]:
notaAprovacao = 7.0
notaWalison = 9.0
print(notaAprovacao < notaWalison)

True

Input de dados no Python

In [ ]:
#fazer parse
nota1 = float(input('Digite a primeira nota '))
nota2 = float(input('Digite a segunda nota '))
nota3 = float(input('Digite a terceira nota '))
media = (nota1 + nota2 + nota3)/3
print(media)

Digite a primeira nota 10
Digite a segunda nota 4
Digite a terceira nota 4
6.0

In [ ]:
if (media < 4):
  print('REPROVADO')
elif (media < 7):
  print('RECUPERACAO')
else:
  print('APROVADO')

RECUPERACAO

In [8]:
idade = int(input('Digite a idade do atleta '))
if (idade < 14):
  print('Infantil')
elif (idade < 18):
  print('Juvenil')
else:
  print('Senior')

Digite a idade do atleta 10
Infantil

In [10]:
numeros = [1, 4, 3, 2, 7]

In [11]:
len(numeros)

5

In [14]:
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])

1
4
3
2
7

In [19]:
#lista de alunos
alunos = ['ana luisa', 'romulo', 'lucas', 'flavio', 'bia', 'livia']

In [20]:
alunos[2] = 'joao'

In [16]:
len(alunos)

6

In [21]:
#mudar o valor de um item da lista
print(alunos[2])

joao

In [22]:
#adicionar valores na lista
alunos.append('matheus')

In [23]:
len(alunos)

7

In [25]:
print(alunos)

['ana luisa', 'romulo', 'joao', 'flavio', 'bia', 'livia', 'matheus']

In [28]:
alunos.append(input('Digite um novo aluno '))

Digite um novo aluno vitinho

In [30]:
print(alunos)

['ana luisa', 'romulo', 'joao', 'flavio', 'bia', 'livia', 'matheus', 'fernando', 'harry', 'vitinho']

In [34]:
#descobrir se tem um valor na lista
if 'flavio' in alunos:
  print('tem flavio sim')
else :
  print('tem flavio nÃ£o')

tem flavio sim

In [43]:
nome = input('Digite o nome ')
if nome in alunos:
  print('Tem', nome)
else:
  print('NÃ£o tem',nome)

Digite o nome romulo
NÃ£o tem romulo

In [35]:
#deletar um item da lista
del alunos[1]

In [36]:
print(alunos)

['ana luisa', 'joao', 'flavio', 'bia', 'livia', 'matheus', 'fernando', 'harry', 'vitinho']

In [44]:
len(alunos)

9

In [49]:
#criar uma lista com numeros ate 14 (15 itens)
numeros = []
for num in range(15):
 numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [51]:
#descobrir se eh par
a = 8
if a % 2 == 0:
  print('Ã par')
else:
  print('Ã impar')

Ã par

In [73]:
#dobrar os valores da lista
dobro = []
for num in numeros:
  dobro.append(numeros[num] * 2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [76]:
#mostrar apenas os pares
for num in numeros:
 if (numeros[num] % 2 == 0):
  print(numeros[num])

0
2
4
6
8
10
12
14